VendorWebAPI/EDDY.IS.Vendor.DataAccess/Service References/MatchingService/MatchingService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EDDY.IS.MatchingEngine.DTO.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EDDY.IS.MatchingEngine.DTO.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProgramTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgramTag" nillable="true" type="tns:ProgramTag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgramTag" nillable="true" type="tns:ArrayOfProgramTag" />
  <xs:complexType name="ProgramTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProgramTagId" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramTagTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgramTag" nillable="true" type="tns:ProgramTag" />
</xs:schema>