FormsEngine/EDDY.IS.FormsEngine.RF/Service References/ProspectService/ProspectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://EducationDynamics.Services.ProspectService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProspectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="netTcpEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://EducationDynamics.Services.ProspectService" location="http://cycle-issvc1/EDDY.ProspectService.Service/ProspectService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="basicHttpEndPoint" type="i0:IProspectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ApproveProspectFlows">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/ApproveProspectFlows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignAdvisorToProspectFlows">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/AssignAdvisorToProspectFlows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProspect">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/DeleteProspect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProspectDetails">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/DeleteProspectDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectFlowDetailsById">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectFlowDetailsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectFlowDetails">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectFlowDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectByEmail">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectByID">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectCountByStatus">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectCountByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectFlowEmail">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectFlowEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectFlowTypes">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectFlowTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockCallCenterProspectFlow">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/LockCallCenterProspectFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendProspectFlowEmail">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/ResendProspectFlowEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspect">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveProspect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHomeSecurityProspect">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveHomeSecurityProspect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspect_Site">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveProspect_Site" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspectDetails">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveProspectDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspectTracking">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveProspectTracking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspectAdditionalData">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveProspectAdditionalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspectStatus">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveProspectStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspectNotes">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveProspectNotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStatusHistory">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveStatusHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProspects">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SearchProspects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLeadEmail">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SendLeadEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockCallCenterProspect">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/UnlockCallCenterProspect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Five9UpdateLeadDisposition">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/Five9UpdateLeadDisposition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateLeadIDToken">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GenerateLeadIDToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLeadIDData">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SendLeadIDData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectFlowDetailsByChatIntegrationSessionId">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectFlowDetailsByChatIntegrationSessionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStateNameById">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetStateNameById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRepostingProspect">
      <soap:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/CheckRepostingProspect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="netTcpEndPoint" type="i0:IProspectService">
    <wsp:PolicyReference URI="#netTcpEndPoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ApproveProspectFlows">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/ApproveProspectFlows" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignAdvisorToProspectFlows">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/AssignAdvisorToProspectFlows" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProspect">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/DeleteProspect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProspectDetails">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/DeleteProspectDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectFlowDetailsById">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectFlowDetailsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectFlowDetails">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectFlowDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectByEmail">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectByID">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectCountByStatus">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectCountByStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectFlowEmail">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectFlowEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectFlowTypes">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectFlowTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockCallCenterProspectFlow">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/LockCallCenterProspectFlow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendProspectFlowEmail">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/ResendProspectFlowEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspect">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveProspect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveHomeSecurityProspect">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveHomeSecurityProspect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspect_Site">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveProspect_Site" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspectDetails">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveProspectDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspectTracking">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveProspectTracking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspectAdditionalData">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveProspectAdditionalData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspectStatus">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveProspectStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProspectNotes">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveProspectNotes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStatusHistory">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SaveStatusHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProspects">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SearchProspects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLeadEmail">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SendLeadEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockCallCenterProspect">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/UnlockCallCenterProspect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Five9UpdateLeadDisposition">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/Five9UpdateLeadDisposition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateLeadIDToken">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GenerateLeadIDToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLeadIDData">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/SendLeadIDData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectFlowDetailsByChatIntegrationSessionId">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetProspectFlowDetailsByChatIntegrationSessionId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStateNameById">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/GetStateNameById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRepostingProspect">
      <soap12:operation soapAction="http://EducationDynamics.Services.ProspectService/IProspectService/CheckRepostingProspect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProspectService">
    <wsdl:port name="basicHttpEndPoint" binding="tns:basicHttpEndPoint">
      <soap:address location="http://cycle-issvc1/EDDY.ProspectService.Service/ProspectService.svc/soap" />
    </wsdl:port>
    <wsdl:port name="netTcpEndPoint" binding="tns:netTcpEndPoint">
      <soap12:address location="net.tcp://cycle-issvc1.eddycorp.local/EDDY.ProspectService.Service/ProspectService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://cycle-issvc1.eddycorp.local/EDDY.ProspectService.Service/ProspectService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>