VendorWebAPI/EDDY.IS.Vendor.DataAccess/Service References/FormsEngineService/FormsEngineAPI11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tcpa-issvc1/EDDY.IS.FormsEngine.Service/Classic/FormsEngineAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://tcpa-issvc1/EDDY.IS.FormsEngine.Service/Classic/FormsEngineAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EDDY.IS.FormsEngine.DTO" />
  <xs:complexType name="ArrayOfKeyValuePairOfstringstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringstring" type="tns:KeyValuePairOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfstringstring" nillable="true" type="tns:ArrayOfKeyValuePairOfstringstring" />
  <xs:complexType name="KeyValuePairOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringstring" nillable="true" type="tns:KeyValuePairOfstringstring" />
  <xs:complexType name="ArrayOfKeyValuePairOfstringint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringint" type="tns:KeyValuePairOfstringint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfstringint" nillable="true" type="tns:ArrayOfKeyValuePairOfstringint" />
  <xs:complexType name="KeyValuePairOfstringint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element name="value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringint" nillable="true" type="tns:KeyValuePairOfstringint" />
  <xs:complexType name="ArrayOfKeyValuePairOfintArrayOfTemplateControlDTOVTWd94hm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfintArrayOfTemplateControlDTOVTWd94hm" type="tns:KeyValuePairOfintArrayOfTemplateControlDTOVTWd94hm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfintArrayOfTemplateControlDTOVTWd94hm" nillable="true" type="tns:ArrayOfKeyValuePairOfintArrayOfTemplateControlDTOVTWd94hm" />
  <xs:complexType name="KeyValuePairOfintArrayOfTemplateControlDTOVTWd94hm">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfTemplateControlDTO" Namespace="http://schemas.datacontract.org/2004/07/EDDY.IS.FormsEngine.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EDDY.IS.FormsEngine.DTO" name="value" nillable="true" type="q1:ArrayOfTemplateControlDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfintArrayOfTemplateControlDTOVTWd94hm" nillable="true" type="tns:KeyValuePairOfintArrayOfTemplateControlDTOVTWd94hm" />
  <xs:complexType name="ArrayOfKeyValuePairOfintstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfintstring" type="tns:KeyValuePairOfintstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfintstring" nillable="true" type="tns:ArrayOfKeyValuePairOfintstring" />
  <xs:complexType name="KeyValuePairOfintstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:int" />
      <xs:element name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfintstring" nillable="true" type="tns:KeyValuePairOfintstring" />
</xs:schema>