MatchingEngine/EDDY.IS.MatchingEngine/Service References/LeadPingService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50806/V3/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EDDY.IS.LeadPing.Service.V3.DTO" />
  <xs:element name="RetrieveInstitutionValidationErrors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EDDY.IS.LeadPing.Service.V3.DTO" minOccurs="0" name="ValidationRequest" nillable="true" type="q1:ValidationRequest" />
        <xs:element minOccurs="0" name="ServiceKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveInstitutionValidationErrorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EDDY.IS.LeadPing.Service.V3.DTO" minOccurs="0" name="RetrieveInstitutionValidationErrorsResult" nillable="true" type="q2:ValidationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMPICSubmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EDDY.IS.LeadPing.Service.V3.DTO" minOccurs="0" name="ProspectData" nillable="true" type="q3:MpicProspectInfo" />
        <xs:element minOccurs="0" name="SubmissionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMPICSubmissionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FireEmailDupeCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LeadID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FireEmailDupeCheckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FirePhoneDupeCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirePhoneDupeCheckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMobileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsMobileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClearCacheResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingCeco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EDDY.IS.LeadPing.Service.V3.DTO" minOccurs="0" name="CecoRequest" nillable="true" type="q4:CecoPingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingCecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EDDY.IS.LeadPing.Service.V3.DTO" minOccurs="0" name="PingCecoResult" nillable="true" type="q5:CecoPingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>