FormsEngine/EDDY.IS.FormsEngine.RF/Service References/Five9Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62293/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62293/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62293/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EDDY.IS.ABEA.Service.DTO" />
      <xsd:import schemaLocation="http://localhost:62293/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Process_InputMessage">
    <wsdl:part name="parameters" element="tns:Process" />
  </wsdl:message>
  <wsdl:message name="IService_Process_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendToFive9_InputMessage">
    <wsdl:part name="parameters" element="tns:SendToFive9" />
  </wsdl:message>
  <wsdl:message name="IService_SendToFive9_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendToFive9Response" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Process">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Process" message="tns:IService_Process_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ProcessResponse" message="tns:IService_Process_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendToFive9">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendToFive9" message="tns:IService_SendToFive9_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendToFive9Response" message="tns:IService_SendToFive9_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Process">
      <soap:operation soapAction="http://tempuri.org/IService/Process" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendToFive9">
      <soap:operation soapAction="http://tempuri.org/IService/SendToFive9" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:62293/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>