VendorWebAPI/EDDY.IS.Vendor.DataAccess/Service References/GpFive9Service/GpFive9Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://emsfe-issvc1/EDDY.IS.GPFive9.Service/GpFive9Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EDDY.IS.GPFive9.Service.DTO" />
  <xs:element name="ProcessFive9Route">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EDDY.IS.GPFive9.Service.DTO" minOccurs="0" name="Request" nillable="true" type="q1:ProcessRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFive9RouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessFive9RouteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>