FormsEngine/EDDY.IS.FormsEngine.RF/Service References/LeadScoringService/LeadScoringService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://emsfe-issvc1/EDDY.IS.LeadScoring.Service/LeadScoringService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EDDY.IS.LeadScoring.DTO" />
  <xs:element name="GetLeadScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EDDY.IS.LeadScoring.DTO" minOccurs="0" name="request" nillable="true" type="q1:ScoringRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeadScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EDDY.IS.LeadScoring.DTO" minOccurs="0" name="GetLeadScoreResult" nillable="true" type="q2:ScoringResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>