FormsEngine/EDDY.IS.FormsEngine.RF/Service References/LeadPingService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://leadping.educationdynamics.com/v3/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://leadping.educationdynamics.com/v3/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://leadping.educationdynamics.com/v3/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EDDY.IS.LeadPing.Service.V3.DTO" />
      <xsd:import schemaLocation="http://leadping.educationdynamics.com/v3/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_RetrieveInstitutionValidationErrors_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveInstitutionValidationErrors" />
  </wsdl:message>
  <wsdl:message name="IService_RetrieveInstitutionValidationErrors_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveInstitutionValidationErrorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FireEmailDupeCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:FireEmailDupeCheck" />
  </wsdl:message>
  <wsdl:message name="IService_FireEmailDupeCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:FireEmailDupeCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FirePhoneDupeCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:FirePhoneDupeCheck" />
  </wsdl:message>
  <wsdl:message name="IService_FirePhoneDupeCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirePhoneDupeCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IsMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:IsMobile" />
  </wsdl:message>
  <wsdl:message name="IService_IsMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsMobileResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ClearCache_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCache" />
  </wsdl:message>
  <wsdl:message name="IService_ClearCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCacheResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="RetrieveInstitutionValidationErrors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RetrieveInstitutionValidationErrors" message="tns:IService_RetrieveInstitutionValidationErrors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RetrieveInstitutionValidationErrorsResponse" message="tns:IService_RetrieveInstitutionValidationErrors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FireEmailDupeCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FireEmailDupeCheck" message="tns:IService_FireEmailDupeCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FireEmailDupeCheckResponse" message="tns:IService_FireEmailDupeCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FirePhoneDupeCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FirePhoneDupeCheck" message="tns:IService_FirePhoneDupeCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FirePhoneDupeCheckResponse" message="tns:IService_FirePhoneDupeCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsMobile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsMobile" message="tns:IService_IsMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsMobileResponse" message="tns:IService_IsMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ClearCache" message="tns:IService_ClearCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ClearCacheResponse" message="tns:IService_ClearCache_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveInstitutionValidationErrors">
      <soap:operation soapAction="http://tempuri.org/IService/RetrieveInstitutionValidationErrors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FireEmailDupeCheck">
      <soap:operation soapAction="http://tempuri.org/IService/FireEmailDupeCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirePhoneDupeCheck">
      <soap:operation soapAction="http://tempuri.org/IService/FirePhoneDupeCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsMobile">
      <soap:operation soapAction="http://tempuri.org/IService/IsMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <soap:operation soapAction="http://tempuri.org/IService/ClearCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://leadping.educationdynamics.com/v3/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>